.Banner{
    width: 100%;
    height: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myprofile{ 
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    filter: grayscale(100%);
}
.myprofile img{
    height: 300px;
}
@media (max-width : 768px ){
    .myprofile img{
       height: 240px;
    }
    @media (max-width : 430px ){
        .myprofile img{
            height: 170px;
         }
    }
    
    @media (max-width : 380px ){
        .myprofile img{
            height: 135px;
         }
    }
    @media (max-width : 320px ){
        .myprofile img{
            height: 80px;
         }
    }
}